*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}
img{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 40px;
}
.nav-link{
    text-transform: uppercase;
    margin-right: 20px;
    margin-left: 7px;
    color: white;
}

.nav-bar{
    color: white;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    animation:example 1s;
    overflow:hidden;
    white-space: nowrap;
    animation-timing-function: linear;
    text-decoration: none;
}
@keyframes example {
    0%   {width:0ch;}

    100% {width:30ch;}
    
}
.header{
     width: 100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url(img/image/bg.jpg);
     background-size: 100% 100%;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);
    position: relative;
}
/* .header:before{
    content:""
    position: absolute;
    top:0%;
    bottom:0%;
    left:0;
    right:0;
    z-index: -1;
    background:linear-gradient(to-right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
} */

.header-section{
    position: relative;
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
}
.center-div{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    color: rgb(49, 47, 45);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    animation: text 2s;
    animation-timing-function: linear;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
@keyframes text {
    0%{
        color: rgb(59, 53, 53);
        opacity: 0;
        visibility: visible;
    }
    30%{
      opacity: 0.5;
      visibility: visible;

    }
    85%{
       opacity: 1;
       visibility: visible;
    }
    100%{
        opacity: 1.5;
        visibility: visible;
    }

}
.nav-link:hover{
    background: tomato;
    border-radius: 8px;
}
#image{
    width: 93%;
    height: 73%;
    margin-top: 12%;
    box-shadow: 10px 10px 10px -1px
}
.head_1{
    padding-top: 36px;
    margin-left: -17%;
}
.head_2{
    padding-top: 2px;
    margin-left: -14%;
    width: 25%;
    background-color: red;
}
#about{
    text-decoration: grey underline double;
    font-family: 'Times New Roman', Times, serif;
    font-size: 39px;
    font-weight: bold;
}
.p1{

    width:100%;
    text-align: justify;
    /* padding-left: 18px; */
    position: relative;
    justify-content: center;
    overflow: hidden;
    font-family: 'Baloo Bhaina 2', cursive;
    z-index: 1;
    font-size:20px;

}

html {
    scroll-behavior: smooth;
  }
.text-base{
    font-family: 'Balsamiq Sans', cursive;
}

.text-uppercase{

    font-family: 'Balsamiq Sans', cursive;
}
.hello{
    position: absolute;
    display: block;
}


.p2{

    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    color: rgb(80, 145, 206);
}

.textoverimage{

    position: absolute;
    top: 81rem;
    transform: translate(-50%,-50%);
}
.leading-relaxed{

    text-align: justify!important;
    justify-content: center!important;

}
#id{

    font-size: 30px;
}

#id1{

    font-size: 11px;
}
#main{
    padding-bottom: 0px!important;
}
.text-justify	{
    text-align: justify;
}
.hr{
   
    background-color: black;

}
.font-awesome{

    font-family: 'Balsamiq Sans', cursive;
   
}
.content{

    align-content: center;
}
.title-font{

    font-size: larger;
    font-family: 'Balsamiq Sans', cursive;
    

}
.hii{

    border:2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 2px;
}

.overflow-hidden{

    box-shadow: 7px 7px 7px 3px;
    border-radius: 40px;
}
.items-center{

    border: 1.5px solid black;
}



.main {
	max-height: 550px;;
	background-color: #292c2f;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer{

    bottom: 0;
    overflow: hidden;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}


.null{

    border: 1px solid black;
    border-radius: 5px;
}

.no-underline{

    text-decoration: none;
}

.contact{

    text-align: center;
    font-size: 2rem;
    padding: 20px;
    font-family: 'Balsamiq Sans', cursive;
    text-decoration: underline;

}
.contact-div{

    justify-content: center;
}
#fname,#number,#email,#msg{

    text-align: justify;
    margin-left: 28%;
    width: 47%;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid blue;
    background: rgb(235, 228, 228);
}
.text-lg{

   font-size: 60px ;
}
.sec{

    overflow: hidden;
}
.lol{

    border:1px solid black;
    border-radius: 7px;
} 

.but{
    position: absolute;
    display: table-cell;
    justify-content: center;
    left: 28%;
    width: 191px;
    padding: 8px;
    border-radius: 8px;
    background: black;
    color: white;
}

.but:hover{

    background: grey;
}

  




























